@using IBP.Models;
@using IBP.Services;
@{
    Layout = "";
    string departmentId = (Request.QueryString["did"] == null) ? "" : Request.QueryString["did"].ToString();
    DepartmentDomainModel departmentInfo = DepartmentInfoService.Instance.GetDepartmentDomainInfoById(departmentId);
    List<UserInfoModel> unDefineUserList = DepartmentInfoService.Instance.GetUnDefineDepartmentUserList();
}

<div  id="depbox" class="pageContent">
	
	<form method="post" action="/UserMgr/DoAddDepartmentUser" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="58">
            <input type="hidden" id="hidSelectedValue" name="selectedValue" value="" />
            <input type="hidden" id="hidDepId" name="depId" value="@departmentId" />
            <div class="choose_box">
              <div class="choose_box_left">
                   <select id="ddlUserList" multiple="multiple" style="height:300px;width:100%">
                        @{
                            if(unDefineUserList != null && unDefineUserList.Count > 0)
                            {
                                foreach(UserInfoModel user in unDefineUserList)
                                {
                                    @:<option value="@user.UserId">【@user.WorkId.Replace("WORKID_","")】@user.CnName (@user.EnName)</option>
                                }
                            }
                        }
                   </select>
                   </div>
                <div class="choose_box_middle">
                     <span><a custjs="department" id="moveAllRight" class="button"><span>选择</span></a></span> <br />
                      <span><a custjs="department" id="moveAllLeft" class="button"><span>移除</span></a></span>
                 </div>
              <div class="choose_box_right"> 
                        <select id="ddlSelected" multiple="multiple" style="height:300px;width:100%">
                        </select>
                   </div>
            </div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>