@using IBP.Models;
@using IBP.Services;
@{
    Layout = "";
    string departmentId = (Request.QueryString["did"] == null) ? "" : Request.QueryString["did"].ToString();
    DepartmentDomainModel departmentInfo = DepartmentInfoService.Instance.GetDepartmentDomainInfoById(departmentId);

}
<div class="pageContent">
	
	<form method="post" action="/UserMgr/DoUpdateDepartment" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="58">

			<div class="unit">
				<label>部门名称：</label>
				<input type="text" name="depName" size="30" minlength="3" maxlength="10" class="required" value="@departmentInfo.DepartmentName" />
			</div>
			<div class="unit">
				<label>描述：</label>
				<textarea name="depDesc" cols="50" rows="5" value="@departmentInfo.Description"></textarea>
			</div>
			<input type="hidden" name="depId" value="@departmentInfo.DepartmentId" />
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>