@{
    Layout = "";
}

<div class="pageContent">
	<form name="customerbasicInfoForm" method="post" action="/CallCenter/DoUpdateCustomerBasicInfo" class="pageForm required-validate">
        <div class="panelBar">
		<ul class="toolBar">
            <li style=" float:right;"><a class="icon icontxt" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出</span></a></li>
            <li class="line" style=" float:right;">line</li>
			<li><a class="add" href="demo_page4.html" target="navTab"><span>刷新报表数据</span></a></li>
			<li><a class="delete" href="demo/common/ajaxDone.html?uid={sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li><a class="edit" href="demo_page4.html?uid={sid_user}" target="navTab"><span>修改</span></a></li>
			
			
		</ul>
	</div>

      

        <div class="baobiao"layoutH="0">
            <div class="statements">
            
            <h2>工单统计报表（80000）</h2>
            <dl>
              <dd>按工单级别统计信息</dd>
              <dt><span>中:2916</span><span>高:9310</span><span>低:6088</span></dt>
              <dd>按工单处理状态统计信息</dd>
              <dt><span>待处理:11663</span><span>处理中:3445</span><span>已关闭:3206</span></dt>
              <dd>按工单类型统计信息</dd>
            </dl>
            </div>
            <div class="statements02">
            <dl>
              <dd>停机维挽 （95）</dd>
              <dt>中:2916</dt>
              <div><span>待处理:11663</span><span>处理中:3445</span><span>已关闭:3206</span><span>待处理:11663</span><span>处理中:3445</span><span>已关闭:3206</span><span>待处理:11663</span><span>处理中:3445</span><span>已关闭:3206</span><span>待处理:11663</span><span>处理中:3445</span><span>已关闭:3206</span><span>待处理:11663</span><span>处理中:3445</span><span>已关闭:3206</span></div>

              <dt>中:2916</dt>
              <div><span>待处理:11663</span><span>处理中:3445</span><span>已关闭:3206</span></div>
              <dd>梅州IP4S销售 （101）</dd>
              <dt>待处理:11663</dt>
              <div><span>待处理:11663</span><span>处理中:3445</span><span>已关闭:3206</span></div>
              <dd>重温旧梦 （5647）</dd>
              <dt>待处理:11663</dt>
              <div><span>待处理:11663</span><span>处理中:3445</span><span>已关闭:3206</span></div>
            </dl>
            </div>
             

        </div>
    </form>
    
</div>