<div style="border:1px #B8D0D6 solid" class="pageContent j-resizeGrid">
	<table class="table">
		<thead>
			<tr>
                <th width="80">操作</th>
				<th width="100" orderField="workId" class="asc">客户编号</th>
				<th width="80" orderField="enName">客户姓名</th>
				<th width="50" orderField="cnName">性别</th>
				<th width="90" orderField="postName">来源</th>
				<th width="100" orderField="teamName">手机号码</th>
				<th width="120" orderField="departmentName">固定电话</th>
				<th width="120" orderField="userStatus">办公电话</th>
				<th width="120" orderField="entryDate">其他号码</th>
				<th width="220" orderField="positiveDate">最近联系</th>
				<th width="130" orderField="leaveDate">48H倒计时</th>
			</tr>
		</thead>
		<tbody>
			<tr target="sid_user" rel="1">
				<td>
					<a class="button" href="/CallCenter/NewCustomer" target="navTab" rel="callcenter_newcustomer"><span>打开</span></a>
				</td>
				<td>C20111129001</td>
				<td>周星驰</td>
				<td>男</td>
				<td>折页</td>
				<td>13926515888</td>
				<td>(0755)61591234</td>
				<td>(0755)61591200</td>
                <td></td>
                <td>手机打折卖u</td>
                <td>23时 45分 56秒</td>
			</tr>
			<tr target="sid_user" rel="1">
				<td>
					<a class="button" href="/CallCenter/NewCustomer" target="navTab" rel="callcenter_newcustomer"><span>打开</span></a>
				</td>
				<td>C20111129001</td>
				<td>周星驰</td>
				<td>男</td>
				<td>折页</td>
				<td>13926515888</td>
				<td>(0755)61591234</td>
				<td>(0755)61591200</td>
                <td></td>
                <td>手机打折卖u</td>
                <td>23时 45分 56秒</td>
			</tr>
			<tr target="sid_user" rel="1">
				<td>
					<a class="button" href="/CallCenter/NewCustomer" target="navTab" rel="callcenter_newcustomer"><span>打开</span></a>
				</td>
				<td>C20111129001</td>
				<td>周星驰</td>
				<td>男</td>
				<td>折页</td>
				<td>13926515888</td>
				<td>(0755)61591234</td>
				<td>(0755)61591200</td>
                <td></td>
                <td>手机打折卖u</td>
                <td>23时 45分 56秒</td>
			</tr>
			<tr target="sid_user" rel="1">
				<td>
					<a class="button" href="/CallCenter/NewCustomer" target="navTab" rel="callcenter_newcustomer"><span>打开</span></a>
				</td>
				<td>C20111129001</td>
				<td>周星驰</td>
				<td>男</td>
				<td>折页</td>
				<td>13926515888</td>
				<td>(0755)61591234</td>
				<td>(0755)61591200</td>
                <td></td>
                <td>手机打折卖u</td>
                <td>23时 45分 56秒</td>
			</tr>
			<tr target="sid_user" rel="1">
				<td>
					<a class="button" href="/CallCenter/NewCustomer" target="navTab" rel="callcenter_newcustomer"><span>打开</span></a>
				</td>
				<td>C20111129001</td>
				<td>周星驰</td>
				<td>男</td>
				<td>折页</td>
				<td>13926515888</td>
				<td>(0755)61591234</td>
				<td>(0755)61591200</td>
                <td></td>
                <td>手机打折卖u</td>
                <td>23时 45分 56秒</td>
			</tr>
			<tr target="sid_user" rel="1">
				<td>
					<a class="button" href="/CallCenter/NewCustomer" target="navTab" rel="callcenter_newcustomer"><span>打开</span></a>
				</td>
				<td>C20111129001</td>
				<td>周星驰</td>
				<td>男</td>
				<td>折页</td>
				<td>13926515888</td>
				<td>(0755)61591234</td>
				<td>(0755)61591200</td>
                <td></td>
                <td>手机打折卖u</td>
                <td>23时 45分 56秒</td>
			</tr>
			<tr target="sid_user" rel="1">
				<td>
					<a class="button" href="/CallCenter/NewCustomer" target="navTab" rel="callcenter_newcustomer"><span>打开</span></a>
				</td>
				<td>C20111129001</td>
				<td>周星驰</td>
				<td>男</td>
				<td>折页</td>
				<td>13926515888</td>
				<td>(0755)61591234</td>
				<td>(0755)61591200</td>
                <td></td>
                <td>手机打折卖u</td>
                <td>23时 45分 56秒</td>
			</tr>
			<tr target="sid_user" rel="1">
				<td>
					<a class="button" href="/CallCenter/NewCustomer" target="navTab" rel="callcenter_newcustomer"><span>打开</span></a>
				</td>
				<td>C20111129001</td>
				<td>周星驰</td>
				<td>男</td>
				<td>折页</td>
				<td>13926515888</td>
				<td>(0755)61591234</td>
				<td>(0755)61591200</td>
                <td></td>
                <td>手机打折卖u</td>
                <td>23时 45分 56秒</td>
			</tr>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">			
			<span>共${totalCount}条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="200" numPerPage="20" pageNumShown="10" currentPage="1"></div>

	</div>
</div>