@using IBP.Common;
@using IBP.Models;
@using IBP.Services;
@{
    Layout = "";
}


<div class="pageContent">
	<form method="post" action="/CallCenter/DoAddCustomerAttributeGrouInfo" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent" layoutH="56">


            <div class="unit">
				<label>所属分组名称：</label>
				<input name="groupName" type="text" size="30" value="" />
			</div>
            <div class="divider"></div>           
            <div class="unit">
				<label>状态：</label>
				<input type="radio" value="0" name="Status" checked />启用
                <input type="radio" value="1" name="Status" />禁用
			</div>
          

		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>

