@{
    Layout = "";
}

<div class="pageFormContent tabsContent_top">
<div class="pageContent">
	<table class="table">
		<thead>
			<tr>
				<th width="100" orderField="cnName">联系方向</th>
				<th width="100" orderField="workId">日期</th>
				<th width="100" orderField="userStatus">时间</th>
				<th width="100" orderField="entryDate">工号</th>
				<th width="100" orderField="enName">客户电话</th>
				<th width="220" orderField="teamName">联系目的</th>
				<th width="220" orderField="departmentName">联系结果</th>
				<th width="220" orderField="postName">联系记录</th>
			</tr>
		</thead>
		<tbody>
			<tr target="sid_user" rel="1">
                <td>呼入</td>
				<td>OR201111301400329</td>
				<td>审批异常</td> 
                <td>客户卡号不对</td>
				<td>周强</td>
				<td>13926515895</td>
				<td>亮剑（广）A</td>
                <td>2011-11-29 12:23:34</td>
			</tr>
			<tr target="sid_user" rel="1">
                <td>呼出</td>
				<td>OR201111301400329</td>
				<td>审批异常</td> 
                <td>客户卡号不对</td>
				<td>周强</td>
				<td>13926515895</td>
				<td>亮剑（广）A</td>
                <td>2011-11-29 12:23:34</td>
			</tr>
			<tr target="sid_user" rel="1">
                <td>呼入</td>
				<td>OR201111301400329</td>
				<td>审批异常</td> 
                <td>客户卡号不对</td>
				<td>周强</td>
				<td>13926515895</td>
				<td>亮剑（广）A</td>
                <td>2011-11-29 12:23:34</td>
			</tr>
			<tr target="sid_user" rel="1">
                <td>呼入</td>
				<td>OR201111301400329</td>
				<td>审批异常</td> 
                <td>客户卡号不对</td>
				<td>周强</td>
				<td>13926515895</td>
				<td>亮剑（广）A</td>
                <td>2011-11-29 12:23:34</td>
			</tr>

         </tbody>
	</table>
	</div>
</div>