<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="cacheProvider" type="MemcachedProviders.Cache.CacheProviderSection,MemcachedProviders" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="tracers" type="Evt.Framework.Common.TracerConfigurationSectionHandler" />
  </configSections>
  
  <connectionStrings>
    <!--<add name="IBP_DBConnection2" connectionString="Data Source=localhost;Initial Catalog=ibp_db;Persist Security Info=True;User ID=sa;Password=sa;Timeout=600" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TXMS_DBConnection" connectionString="Data Source=192.168.3.209;Initial Catalog=ibp_db_20120428;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>-->
    <add name="IBP_DBConnection" connectionString="Data Source=localhost;Initial Catalog=txms_db_201206282300;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <add name="TXMS_DBConnection" connectionString="Data Source=localhost;Initial Catalog=txms_db_201206282300;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    <!--<add name="TXMS_DBConnection" connectionString="Data Source=192.168.3.208;Initial Catalog=txms;Persist Security Info=True;User ID=sa;Password=inssin.5588" providerName="System.Data.SqlClient"/>-->
 </connectionStrings>

  <enyim.com>
    <memcached>
      <servers>
        <!-- put your own server(s) here-->
        <add address="192.168.1.200" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
  </enyim.com>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\IBP_Log\ibp_" />
      <encoding value="gb2312" />
      <AppendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd_hh&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
        <AcceptOnMatch value="false">
        </AcceptOnMatch>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <StringToMatch value="" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="RemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <encoding value="gb2312" />
      <facility value="Syslog" />
      <remoteAddress value="192.168.1.206" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
        <AcceptOnMatch value="false">
        </AcceptOnMatch>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <StringToMatch value="" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <appender-ref ref="RollingLogFileAppender">
      </appender-ref>
      <appender-ref ref="RemoteSyslogAppender">
      </appender-ref>
    </root>
  </log4net>

  <cacheProvider defaultProvider="MemcachedCacheProvider">
    <providers>
      <add name="MemcachedCacheProvider" type="MemcachedProviders.Cache.MemcachedCacheProvider, MemcachedProviders" keySuffix="" defaultExpireTime="2000" />
    </providers>
  </cacheProvider>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>


