@{
    Layout = "";
}
<div style="clear: both;">
</div>
<div class="panel collapse">
    <h1>
        本日销售排行榜</h1>
    <div>
        
    </div>
</div>
<div style="clear: both; margin: 10px;">
</div>
<div class="panel collapse">
    <h1>
        本月销售排行榜</h1>
    <div>
       
    </div>
</div>
